---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elzara Oiseau">
  <main class="intro">
    <p>
      elzaraoiseau@gmail.com
      <br />
      +41 79 577 38 69
      <br />
      +3 8 095 659 99 10 (WhatsApp)
      <br />
      @elzara_oiseau
    </p>
  </main>
</Layout>

<style>
  .intro {
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-inline-start: 48px;
  }
</style>
