---
import desertsong from "../assets/artwork/desertsong.jpg";
import fragility from "../assets/artwork/fragility.jpg";
import module61 from "../assets/artwork/module61.jpg";
import myself from "../assets/myself.jpg";

import { Image } from "astro:assets";
import HomeProject from "../components/HomeProject.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Elzara Oiseau">
  <main class="main">
    <p class="intro">
      <Image
        class="portrait"
        src={myself}
        alt="A portrait of Elzara Oiseau"
        width="200"
      />
      <span>elzaraoiseau [at] gmail [dot] com</span>
      <a href="https://www.instagram.com/elzara_oiseau/" target="_blank"
        >@elzara_oiseau</a
      >
    </p>
    <div class="projects">
      <HomeProject
        name="Desert Song"
        date="November 2023"
        images={[module61, desertsong]}
      >
        Painting and wire installation for solo exhibition <em>Jazz Lines</em>
      </HomeProject>
      <HomeProject
        name="Fragility"
        date="March-April 2023"
        images={[fragility]}
      >
        12 meters wall painting for <a
          href="https://wasch-raum.ch/"
          target="_blank">Waschraum</a
        >
      </HomeProject>
    </div>
  </main>

  <style>
    .main {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      min-height: 100vh;
      gap: 48px;
      padding: 24px;
      box-sizing: border-box;
    }

    .main a {
      color: inherit;
      border-bottom: 1px dotted white;
      text-decoration: none;
    }

    .intro {
      flex-shrink: 0;
      display: flex;
      gap: 8px;
      flex-direction: column;
      align-items: start;
    }

    .portrait {
      width: 100px;
      height: auto;
      display: block;
      margin-bottom: 8px;
    }

    .projects {
      display: flex;
      flex-wrap: wrap;
      gap: 48px;
    }
  </style>
</Layout>
