.homeProject {
  display: block;
  max-width: min(100%, 500px);
  position: relative;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.image {
  height: 250px;
  width: auto;
  max-width: 100%;
}

.title {
  margin-bottom: 4px;
}

.headline {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.excerpt {
  margin-bottom: 0;
}
