---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  images: Array<ImageMetadata>;
  name: string;
  date: string;
  notice?: string;
}

const { images, name, date, notice } = Astro.props;
---

<div class="home-project">
  <div class="images">
    {
      images.map((image) => (
        <Image class="image" src={image} alt="" height="500" />
      ))
    }
  </div>

  <div class="headline">
    <h3 class="title">{name}</h3>
    <span class="notice">{notice}</span>
  </div>
  <date class="date">{date}</date>
  <p>
    <slot />
  </p>
</div>

<style>
  .home-project {
    max-width: 100%;
  }

  .images {
    display: flex;
    flex-wrap: wrap;
  }

  .image {
    height: 250px;
    width: auto;
    max-width: 100%;
  }

  .title {
    margin-bottom: 4px;
  }

  .date {
    font-size: 0.875rem;
    color: #aaa;
  }

  .headline {
    display: flex;
    align-items: baseline;
    gap: 12px;
  }

  .notice {
    color: #e3054e;
    font-weight: 800;
  }
</style>
