.homeProject {
  display: block;
  max-width: min(100%, 500px);
  position: relative;
  transition-property: transform;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.homeProject:hover,
.homeProject:focus {
  transform: scale(1.05);
}

.homeProject:active {
  transform: scale(0.95);
}

.images {
  display: flex;
  flex-wrap: wrap;
}

.image {
  height: 250px;
  width: auto;
  max-width: 100%;
}

.title {
  margin-bottom: 4px;
}

.headline {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.excerpt {
  margin-bottom: 0;
}
