.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
  min-height: 100vh;
  gap: 48px;
  padding: 24px;
  box-sizing: border-box;
}

.header {
  flex-shrink: 0;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.5;
  position: sticky;
  top: 24px;
}

@media screen and (max-width: 1024px) {
  .layout {
    flex-direction: column;
  }

  .header {
    position: static;
  }
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
}

.headerSection {
  /* :) */
}
